.about {
  padding: 0 25px;

  &__title {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }

  &__director {

    @media (min-width: $screen-sm) {
      display: flex;
      margin-bottom: 35px;
    }
  }

  &__director-img {
    border: 10px solid #d9d9d9;
    margin-bottom: 15px;

    @media (min-width: $screen-sm) {
      width: 30%;
      border: 20px solid #d9d9d9;
    }
  }

  &__director-wrap {

    @media (min-width: $screen-sm) {
      width: 70%;
      padding-left: 50px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 100px;
    }
  }

  &__director-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__director-text {
    font-size: 15px;
    margin-bottom: 25px;
  }

  &__development-slider {
    margin-bottom: 25px;
  }

  &__development-text {
    font-size: 15px;
    margin-bottom: 25px;
  }

  &__development-wrap {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -25px;
      margin-right: -25px;
    }

    @media (min-width: $screen-lg) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  &__development-item {
    padding: 25px;

    @media (min-width: $screen-sm) {
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      padding: 40px;
    }
  }

  &__development-item img {

    @media (min-width: $screen-lg) {
      width: 100%;
    }
  }

  &__development-objects-link,
  &__infrastructure-objects-link {
    padding: 0 25px;
    margin-bottom: 25px;

    @media (min-width: $screen-sm) {
      padding: 0;
      text-align: center;
    }
  }

  &__development-objects-link a,
  &__infrastructure-objects-link a {
    width: 100%;

    @media (min-width: $screen-sm) {
      width: auto;
    }
  }

  &__infrastructure-warranty {

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__infrastructure-warranty-wrap {

    @media (min-width: $screen-sm) {
      width: 75%;
    }
  }

  &__infrastructure-warranty-title {
    font-size: 22px;
    margin-bottom: 25px;
  }

  &__infrastructure-warranty-text {
    font-size: 15px;
    margin-bottom: 25px;
  }

  &__infrastructure-warranty-img {
    margin-bottom: 25px;

    @media (min-width: $screen-sm) {
      display: flex;
      width: 25%;
    }
  }

  &__infrastructure-warranty-img img {
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      margin: auto;
    }
  }

  &__infrastructure-descr {
    display: flex;
    flex-direction: column;
  }

  &__infrastructure-slider {
    margin-bottom: 25px;
  }

  &__infrastructure-title {
    font-size: 22px;
    margin-bottom: 20px;
    order: -2;

    @media (min-width: $screen-sm) {
      order: 0;
    }
  }

  &__infrastructure-text {
    font-size: 15px;
    margin-bottom: 25px;
    order: -1;

    @media (min-width: $screen-sm) {
      order: 0;
    }
  }

  &__infrastructure-list-header {
    font-size: 15px;
  }
}
