.files-accardion {

  &__item {
    position: relative;
  }

  &__title {
    font-size: 15px;

    &--active {
      display: block;
    }
  }

  &__title:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -25px;
    background: linear-gradient(to bottom right, transparent 49%, $main-color 51%);
    transform: rotate(45deg);
    transition: all 0.3s;
  }

  &__file-link {
    display: none;
  }
}
