.list {
  list-style: none;
  
  &__item {
    font-size: 15px;
    position: relative;
  }

  &__item:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url(../img/list/list-rectangle.png);
    background-repeat: no-repeat;
    left: -20px;
    top: 7px;
  }
}