.main-nav {
  position: relative;
  order: 3;

  @media (min-width: $screen-lg) {
    order: 0;
    flex-grow: 1;
  }

  &__menu {
    display: none;
    transition: all 0.5s ease-in-out;
    transform-origin: top;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__menu--active {
    display: block;
    position: absolute;
    width: 100vw;
    top: 50px;
    right: -15px;
    background-color: $main-color;
    z-index: 1;

    @media (min-width: $screen-lg) {
      position: staric;
    }
  }

  &__list,
  &__sub-list {
    list-style: none;
  }

  &__sub-list {
    display: none;

    @media (min-width: $screen-lg) {
      position: absolute;
      background-color: #f6f9ff;
      top: 50px;
      left: -10px;
      width: 140px;
      z-index: 1;
    }

    &--show-list {
      display: block;

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    &--no-indent {
      padding-left: 0;

      @media (min-width: $screen-lg) {
        padding-left: 27px;
        width: 170px;
      }
    }
  }

  &__list {
    margin-left: 10px;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      margin: 0;
      padding: 0;
    }
  }

  &__item,
  &__sub-item {
    margin: 25px 0;

    @media (min-width: $screen-lg) {
      margin: 0;
    }
  }

  &__sub-item {
    @media (min-width: $screen-lg) {
      padding: 7px 0;
    }
  }

  &__sub-link:hover {
    @media (min-width: $screen-lg) {
      color: $main-color;
    }
  }

  &__item {
    position: relative;

    &--display-desc {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    &--order-first {
      @media (min-width: $screen-lg) {
        order: -1;
      }
    }
  }

  &__link,
  &__sub-link {
    color: $text-color-white;
    text-decoration: none;
    transition: all 0.3s;

    @media (min-width: $screen-lg) {
      font-size: 16px;
      color: $text-color;
    }
  }

  &__link--text-color,
  &__sub-link--text-color {
    color: $text-color;
  }

  &__link {
    position: relative;

    &:hover {
      color: #ee7231;
    }
  }

  &__link--active {
    @media (min-width: $screen-lg) {
      color: $main-color;
    }
  }

  &__link--active &__sub-list {
    display: block;
  }

  &__link--uppercase,
  &__sub-link--uppercase {
    text-transform: uppercase;
  }

  &__link-arrow:after {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid $text-color-white;
    border-bottom: 2px solid $text-color-white;
    position: absolute;
    right: -20px;
    bottom: 8px;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;

    @media (min-width: $screen-lg) {
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
    }
  }

  &__link--active:after {
    top: 6px;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in-out;
  }

  &__link--hidden {
    display: none;
  }

  &__link--hidden {
    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__toggle {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__burger,
  &__burger::before,
  &__burger:after {
    display: block;
    position: absolute;
    content: '';
    font-size: 0;
    width: 30px;
    height: 2px;
    background-color: $main-color;
    transform-origin: left;
    transition: all 0.2s ease-in-out;
  }

  &__burger::before {
    bottom: 10px;
  }

  &__burger:after {
    top: 10px;
  }

  &__burger--active {
    width: 0;
  }

  &__burger--active:before {
    transform: rotate(45deg);
  }

  &__burger--active:after {
    transform: rotate(-45deg);
    top: 11px;
  }
}
