@keyframes openModalButtonAnimation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.open-modal {
  width: 100px;
  position: fixed;
  right: 10vw;
  top: 70%;
  cursor: pointer;
  animation: openModalButtonAnimation 0.5s infinite;
}

.modal,
.modal-success {
  display: none;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(37, 37, 37, 0.1);

  & img {
    margin: auto;
    padding-bottom: 20px;
  }

  &-header {
    display: flex;
    position: relative;
    background-color: #ee7231;
    padding: 7px;
    color: #fff;
    text-align: center;

    &__title {
      width: 95%;
      margin: 0;
    }

    &__close {
      cursor: pointer;
      position: relative;
      width: 40px;
    }

    &__close-icon {
      display: block;
      position: absolute;
      right: 20px;
      top: 2px;
      width: 2px;
      height: 20px;
      transform: rotate(45deg);
      background-color: #fff;

      &:after {
        display: block;
        position: absolute;
        content: '';
        right: 0px;
        width: 2px;
        height: 20px;
        transform: rotate(-90deg);
        background-color: #fff;
      }
    }
  }

  &-content {
    padding: 30px 20px;
    text-align: center;
    margin: 0;

    &__error {
      color: #f44336;
    }

    &__form-input {
      display: block;
      margin: auto;
      line-height: 30px;
      border: 1px solid #ee7231;
      outline: none;
      width: 200px;
      padding-left: 5px;

      &::placeholder {
        text-align: center;
        font-size: 14px;
      }
    }

    &__form-submit {
      cursor: pointer;
      font-size: 16px;
      margin-top: 30px;
      outline: none;
      border: none;

      &:focus {
        padding: 13px;
      }
    }
  }
}
