// OBJ_FILTER

.obj-filter {
  background-color: $second-color;
  padding: 15px;
  color: $text-color-white;

  @media (min-width: $screen-lg) {
    padding: 25px 40px;
  }

  &__title {
    font-size: 22px;
  }

  &__wrap {
    padding-top: 15px;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__complex,
  &__inner,
  &__rooms-sel,
  &__results {
    padding: 10px 0;
  }

  &__complex-title,
  &__deadline-title,
  &__rooms-title {
    margin-left: 15px;
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      margin-left: 0;
    }

    @media (max-width: $screen-sm) {
      margin-left: 0;
    }
  }

  &__complex-wrap .select2-selection,
  &__deadline-wrap .select2-selection,
  &__rooms-sel-wrap .select2-selection {
    height: 45px;
    padding: 7px 0;
    background-color: $second-color;
    border: 1px solid #fff;
    border-radius: 0;
    outline: none;
  }

  &__complex-wrap .select2-container:after,
  &__deadline-wrap .select2-container:after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 20px;
    top: 11px;
    border-right: 1px solid $text-color-white;
    border-bottom: 1px solid $text-color-white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  &__complex-wrap .select2-container--open:after,
  &__deadline-wrap .select2-container--open:after {
    transform: rotate(225deg);
    top: 17px;
  }

  .select2-container--default .select2-search--inline .select2-search__field {
    cursor: pointer;
  }

  &__complex-wrap input[type='search']::placeholder,
  &__deadline-wrap input[type='search']::placeholder,
  &__rooms-sel-wrap input[type='search']::placeholder {
    color: $text-color-white !important;
  }

  &__complex-wrap
    .select2-container--default.select2-container--focus
    .select2-selection--multiple,
  &__deadline-wrap
    .select2-container--default.select2-container--focus
    .select2-selection--multiple,
  &__rooms-sel-wrap
    .select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: 1px solid $text-color-white;
    cursor: pointer;
  }

  &__complex-wrap .select2-selection__arrow b,
  &__deadline-wrap .select2-selection__arrow b,
  &__rooms-sel-wrap .select2-selection__arrow b {
    border-color: $text-color-white transparent transparent transparent !important;
  }

  &__complex-wrap .select2-container--open .select2-selection__arrow b,
  &__deadline-wrap .select2-container--open .select2-selection__arrow b,
  &__rooms-sel-wrap .select2-container--open .select2-selection__arrow b {
    border-color: transparent transparent $text-color-white transparent !important;
  }

  &__complex,
  &__inner {
    @media (min-width: $screen-lg) {
      display: inline-block;
    }
  }

  &__complex {
    @media (min-width: $screen-lg) {
      width: 40%;
    }
  }

  &__complex-wrap,
  &__deadline-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__complex-wrap {
    margin-left: 15px;

    @media (min-width: $screen-lg) {
      margin-left: 0;
    }

    @media (max-width: $screen-sm) {
      margin-left: 0;
    }
  }

  &__complex-sel{
    margin-bottom: 10px;
    cursor: pointer;
    @media (max-width: $screen-sm) {
      margin-left: 0;
      width: 100%;
    }
  }
  &__complex-sel label{
    cursor: pointer;
    display: block;
    width: 232px;
    height: 46px;
    padding: 9px 0 5px;
    font-size: 20px;
    text-align: center;
    line-height: 23px;
    margin-right: 10px;
    border: 1px solid $text-color-white;

    @media (max-width: $screen-sm) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__complex-sel input[type='checkbox'],
  &__deadline-sel input[type='radio'] {
    display: none;
    cursor: pointer;
  }

  &__complex-sel input[type='checkbox']:checked + label,
  &__deadline-sel input[type='radio']:checked + label {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      align-items: flex-end;
      padding-left: 15px;
    }

    @media (min-width: $screen-lg) {
      width: 60%;
      margin: 0;
      align-items: flex-start;
    }
  }

  &__build-apartments {
    width: 50%;
    padding: 0 10px;
  }

  &__build-apartments {
    display: flex;
    margin-left: auto;
    width: 326px;

    @media (min-width: $screen-lg) {
      padding-right: 0;
      padding-left: 20px;
      margin-top: 35px;
    }

    @media (max-width: $screen-sm) {
      width: 100%;
      margin-top: 20px;
      padding: 0;
    }
  }

  &__rooms {
    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__rooms-sel {
    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__rooms-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__rooms-count {
    height: 45px;
    padding: 0 10px;

    @media (max-width: $screen-sm) {
      padding: 0 5px 0 0;
    }
  }

  &__rooms-count input[type='checkbox'] {
    display: none;
    cursor: pointer;
  }

  &__rooms-count label {
    display: block;
    font-size: 28px;
    padding: 0 28px;
    height: 100%;
    text-align: center;
    line-height: 45px;
    border: 1px solid $text-color-white;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $screen-sm) {
      padding: 0 25px;
    }

    &__ready label {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__rooms-count input[type='checkbox']:checked + label {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__build-apartments-btn {
    width: 100%;
    height: 45px;
    font-size: 17px;
    border: 1px solid $second-color;
    background-color: $text-color-white;
    color: $second-color;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #ee7231;
    }
  }

  &__results {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
    }
  }

  &__results-text {
    font-size: 17px;
    padding: 0 20px;
    order: 1;
    margin-bottom: 0;
    text-align: center;

    @media (min-width: $screen-lg) {
      font-size: 22px;
    }
  }

  &__results-btn {
    width: 296px;
    min-height: 45px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    color: #039577;

    @media (max-width: $screen-sm) {
     margin-bottom: 10px;
      width: 100%;
    }
  }

  &__ready input[type='checkbox']{
    display: none;
  }

  &__ready input[type='checkbox']:checked + label{
   background-color: rgba(255, 255, 255, 0.3);
  }

  &__ready {
    @media (min-width: $screen-lg) {
      width: 100%;
      padding-right: 0;
    }

    @media (max-width: $screen-sm) {
      width: 100%;
      padding: 0;
    }
  }

  &__ready label {
    width: 244px;
    font-size: 20px;

    @media (min-width: $screen-lg) {
      width: 100%;
    }

    @media (max-width: $screen-sm) {
      width: 100%;
      padding: 0;
    }
  }
}

.back-top{
  display: none;
  width: 100px;
  position: fixed;
  right: 10vw;
  top: 50%;
  cursor: pointer;
}

.product-card__sale{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  background-color: #EE7231;
  text-transform: uppercase;
  color: #fff;
}

.select2-results__option {
  background: $second-color;
  color: $text-color-white;
}

// OBJ_FILTER_END
