.offer-link {
  display: inline-flex;
  justify-content: space-around;
  align-self: flex-start;
  text-decoration: none;
  min-width: 250px;
  padding: 13px;
  color: $text-color-white;
  background-color: $second-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  &:hover {
    opacity: 0.8;
  }
}
