.page-footer {
    background-color: #dddddd;

    &__contacts {
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
    }

    &__tel {
        text-decoration: none;
    }

    &__tel span {
        display: block;
    }
}