.product-card {
  &__link {
    display: block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 8px rgb(217, 217, 217);

    &:hover {
      box-shadow: 0px 4px 8px rgb(217, 217, 217);
    }
  }

  &__img {
    &--frame {
      height: 280px;
      padding: 20px;
      background: rgba(255, 138, 0, 0.25);

      img {
        height: 100%;
      }
    }
  }

  &__title {
    padding: 20px;

    &--second-color h3 {
      color: $second-color;
    }
  }

  &__title h3 {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  &__title span {
    display: block;
    font-size: 14px;
  }

  &__descr {
    padding: 0 20px 20px;
  }

  &__descr span {
    font-size: 16px;
    text-transform: uppercase;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    color: $main-color;
    padding: 10px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
  }

  &__footer span {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__arrow {
    font-size: 0;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    background-image: url(../img/card-mini/arrow-next.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__room-value {
    font-size: 22px;
    padding: 0 25px;
  }

  &__object-status,
  &__square {
    font-size: 16px;
    padding: 5px 25px;
  }

  &__square {
    margin-top: 25px;
  }

  &__square-value {
    font-size: 20px;
    padding: 0 25px;
    padding-bottom: 10px;
  }

  &:last-child {
    margin-right: auto;
  }
}
