.promo {
  &__inner {
    visibility: hidden;

    @media (min-width: $screen-lg) {
      padding: 15px;
    }
  }

  &__slider {
    position: relative;

    @media (min-width: $screen-lg) {
      padding: 0 55px;
    }
  }

  &__slider .slick-list {
    @media (min-width: $screen-lg) {
      width: 100%;
      margin: 0 auto;
      box-shadow: 0px 0px 10px rgb(204, 204, 204);
      cursor: pointer;
    }
  }

  &__slider .slick-arrow {
    display: none;
    position: absolute;
    font-size: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: $screen-lg) {
      display: block;
      width: 45px;
      height: 100%;
      background-image: url(../img/promo/noun_Next_1833638.png);
      background-repeat: no-repeat;
    }
  }

  &__slider .slick-prev {
    transform: rotate(180deg);
    background-position: 0 58%;
    left: 0;
  }

  &__slider .slick-next {
    right: 0;
    top: 0;
    background-position: 0 46%;
  }
}
