.recommendation {
  padding: 0 25px;
  margin-bottom: 45px;

  @media (min-width: $screen-sm) {
    margin-top: 60px;
  }

  &__wrap {
    border: 2px solid $main-color;
  }

  &__title {
    text-align: center;
  }

  &__title h2 {
    font-size: 22px;
    font-weight: normal;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      margin: 0 -15px;
    }
  }

  &__cards-item {
    margin: 25px 0;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      padding: 0 15px;
    }
  }

  &__cards-item:last-child {
    display: none; // ЭТО ПРАВИЛО ТОЛЬКО ДЛЯ ВЕРСТКИ, ВЫПИЛИТЬ! КОЛ-ВО КАРТОЧЕК, ВЕРОЧТНО, БУДЕТ ВЫВОДИТСЯ СКРИПТОМ??

    @media (min-width: $screen-lg) {
      display: block;
    }
  }
}
